/*--------------------*\
  MEGA AUTOCOMPLETE
\*--------------------*/
.m-autocom-wrapper {
    position: relative;
    background: #fff;
    border-radius: .3125rem;
}

.m-autocom-list, .m-autocom-selected-list {
    position: absolute;
    top: inherit;
    display: none;
    padding: 0;
    width: 100%;
    background: #fff;
    border-radius: 0 0 .3125rem .3125rem;
    box-shadow: 0 .0625rem .3125rem 0 rgba(0, 0, 0, 0.12);
    z-index: 999;
}

.m-autocom-list ul, .m-autocom-selected-list ul {
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 9.375rem;
    list-style: none;
    overflow-y: auto;
}

.m-autocom-list li, .m-autocom-selected-list li {
    padding: .25rem .5rem;
    font-size: .875rem;
    cursor: pointer;
}

.m-autocom-list li:hover, .m-autocom-selected-list li {
    color: #fff;
    background: inherit;
}

.m-autocom-selected {
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
}

.m-autocom-selected--counter {
    margin-right: .3125rem;
    padding: .0625rem .3125rem;
    border-radius: .1875rem;
    font-size: .75rem;
    font-weight: 700;
    color: #fff;
}

.m-autocom-selected--values {
    display: none;
}

.-m-autocom-show {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.-m-autocom-list-show {
    display: block;
}

.-m-autocom-selected-show {
    display: flex;
    height: 100%;
    cursor: pointer;
}

.-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid red;
    background: red;
}

.-m-autocom-selected-show .m-autocom-selected--counter:before {
    content: '+';
    display: inline-block;
    margin-right: .1875rem;
    font-weight: 800;
}

.-m-autocom-selected-show .m-autocom-selected--counter:after {
    content: '';
    border: solid #fff;
    border-width: 0 .125rem .125rem 0;
    display: inline-block;
    padding: .125rem;
    margin-left: .25rem;
    margin-bottom: .125rem;
    transform: rotate(45deg);
}