/*--------------------*\
  MEGA AUTOCOMPLETE
\*--------------------*/

/* AUTOCOMPLETE WRAPPER */
.mega-ac-container {
    position: relative;
    background: #fff;
    border-radius: .3125rem;
}

/* AUTOCOMPLETE LIST AND SELECTED LIST */
.mega-ac-list, .mega-ac-selected-list {
    position: absolute;
    top: inherit;
    display: none;
    padding: 0;
    width: 100%;
    background: #fff;
    border-radius: 0 0 .3125rem .3125rem;
    box-shadow: 0 .0625rem .3125rem 0 rgba(0, 0, 0, 0.12);
    z-index: 999;
}

.mega-ac-list ul, .mega-ac-selected-list ul {
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 9.375rem;
    list-style: none;
    overflow-y: auto;
}

.mega-ac-list li {
    padding: .25rem .5rem;
    font-size: .875rem;
    cursor: pointer;
}

.mega-ac-selected-list li {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-bottom: 1px solid #d4d4d4;
}

.mega-ac-selected-list li div.mega-ac-selected-list__remove-item {
    position: relative;
    background: #fff;
    width: 10px;
    height: 14px;
    cursor: pointer;
}

.mega-ac-selected-list li div.mega-ac-selected-list__remove-item:after {
    content: '';
    position: absolute;
    left: 0;
    height: 14px;
    border-left: 2px solid #f1556c;
    transform: rotate(45deg);
}

.mega-ac-selected-list li div.mega-ac-selected-list__remove-item:before {
    content: '';
    position: absolute;
    left: 0;
    height: 14px;
    border-left: 2px solid #f1556c;
    transform: rotate(-45deg);
}

/* AUTOCOMPLETE SELECTED CONTAINER */
.mega-ac-selected {
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
}

/* AUTOCOMPLETE SELECTED COUNTER AND VALUES */
.mega-ac-selected__counter {
    margin-right: .3125rem;
    padding: .0625rem .3125rem;
    border-radius: .1875rem;
    font-size: .75rem;
    font-weight: 700;
    color: #fff;
}

.mega-ac-selected__values {
    display: none;
}

.mega-ac--show {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.mega-ac-selected--show {
    display: flex;
    height: 100%;
    cursor: pointer;
}

.mega-ac-list--show, .mega-ac-selected-list--show {
    display: block;
}

/* AUTOCOMPLETE LI ITEMS WITH HOVER COLORS */
.mega-ac-selected-list li:hover, .mega-ac-selected-list li:hover div.mega-ac-selected-list__remove-item{
    background-color: #f1f1f1;
}

.mega-ac--primary ~ .mega-ac-list li:hover,
.mega-ac--primary ~ .mega-ac-list li.selected {
    color: #fff;
    background: #3bafda;
}

.mega-ac--secondary ~ .mega-ac-list li:hover,
.mega-ac--secondary ~ .mega-ac-list li.selected {
    color: #fff;
    background: #6c757d;
}

.mega-ac--success ~ .mega-ac-list li:hover,
.mega-ac--success ~ .mega-ac-list li.selected {
    color: #fff;
    background: #78c350;
}

.mega-ac--danger ~ .mega-ac-list li:hover,
.mega-ac--danger ~ .mega-ac-list li.selected {
    color: #fff;
    background: #f1556c;
}

.mega-ac--warning ~ .mega-ac-list li:hover,
.mega-ac--warning ~ .mega-ac-list li.selected {
    color: #fff;
    background: #f7b84b;
}

.mega-ac--info ~ .mega-ac-list li:hover,
.mega-ac--info ~ .mega-ac-list li.selected {
    color: #fff;
    background: #37cde6;
}

.mega-ac--dark ~ .mega-ac-list li:hover,
.mega-ac--dark ~ .mega-ac-list li.selected {
    color: #fff;
    background: #323a46;
}

.mega-ac--pink ~ .mega-ac-list li:hover,
.mega-ac--pink ~ .mega-ac-list li.selected {
    color: #fff;
    background: #f06292;
}

.mega-ac--lilac ~ .mega-ac-list li:hover,
.mega-ac--lilac ~ .mega-ac-list li.selected {
    color: #fff;
    background: #526dee;
}

.mega-ac--purple ~ .mega-ac-list li:hover,
.mega-ac--purple ~ .mega-ac-list li.selected {
    color: #fff;
    background: #6559cc;
}

.mega-ac--blue-darken ~ .mega-ac-list li:hover,
.mega-ac--blue-darken ~ .mega-ac-list li.selected {
    color: #fff;
    background: #0D47A1;
}

.mega-ac--orange ~ .mega-ac-list li:hover,
.mega-ac--orange ~ .mega-ac-list li.selected {
    color: #fff;
    background: #ff6f00;
}

/* AUTOCOMPLETE SELECTED COLOR */
/*DEFAULT COLOR*/
.mega-ac-selected--show 
.mega-ac-selected__counter {
    border: .125rem solid #555555;
    background: #555555;
}

.mega-ac-selected--show .mega-ac-selected__counter:before {
    content: '+';
    display: inline-block;
    margin-right: .1875rem;
    font-weight: bold;
}

.mega-ac-selected--show .mega-ac-selected__counter:after {
    content: '';
    border: solid #fff;
    border-width: 0 .125rem .125rem 0;
    display: inline-block;
    padding: .125rem;
    margin-left: .25rem;
    margin-bottom: .125rem;
    transform: rotate(45deg);
}

[data-bg-selected='primary'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='primary'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #3bafda;
    background: #3bafda;
}

[data-bg-selected='secondary'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='secondary'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #6c757d;
    background: #6c757d;
}

[data-bg-selected='success'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='success'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #1abc9c;
    background: #1abc9c;
}

[data-bg-selected='danger'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='danger'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #f1556c;
    background: #f1556c;
}

[data-bg-selected='warning'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='warning'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #f7b84b;
    background: #f7b84b;
}

[data-bg-selected='info'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='info'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #37cde6;
    background: #37cde6;
}

[data-bg-selected='dark'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='dark'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #323a46;
    background: #323a46;
}

[data-bg-selected='pink'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='pink'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #f06292;
    background: #f06292;
}

[data-bg-selected='lilac'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='lilac'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #526dee;
    background: #526dee;
}

[data-bg-selected='purple'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='purple'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #6559cc;
    background: #6559cc;
}

[data-bg-selected='blue-darken'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='blue-darken'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #0D47A1;
    background: #0D47A1;
}

[data-bg-selected='orange'] ~ .mega-ac-selected--show .mega-ac-selected__counter,
.form-floating[data-bg-selected='orange'] ~ .mega-ac-selected--show .mega-ac-selected__counter {
    border: .125rem solid #ff6f00;
    background: #ff6f00;
}