/*--------------------*\
  MEGA AUTOCOMPLETE
\*--------------------*/

/* AUTOCOMPLETE WRAPPER */
.m-autocom-wrapper {
    position: relative;
    background: #fff;
    border-radius: .3125rem;
}

/* AUTOCOMPLETE LIST AND SELECTED LIST */
.m-autocom-list, .m-autocom-selected-list {
    position: absolute;
    top: inherit;
    display: none;
    padding: 0;
    width: 100%;
    background: #fff;
    border-radius: 0 0 .3125rem .3125rem;
    box-shadow: 0 .0625rem .3125rem 0 rgba(0, 0, 0, 0.12);
    z-index: 999;
}

.m-autocom-list ul, .m-autocom-selected-list ul {
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 9.375rem;
    list-style: none;
    overflow-y: auto;
}

.m-autocom-list li, .m-autocom-selected-list li {
    padding: .25rem .5rem;
    font-size: .875rem;
    cursor: pointer;
}

.m-autocom-selected-list li {
    padding: .25rem .5rem;
    font-size: .875rem;
}

/* AUTOCOMPLETE SELECTED CONTAINER */
.m-autocom-selected {
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
}

/* AUTOCOMPLETE SELECTED COUNTER AND VALUES */
.m-autocom-selected--counter {
    margin-right: .3125rem;
    padding: .0625rem .3125rem;
    border-radius: .1875rem;
    font-size: .75rem;
    font-weight: 700;
    color: #fff;
}

.m-autocom-selected--values {
    display: none;
}

.-m-autocom-show {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.-m-autocom-selected-show {
    display: flex;
    height: 100%;
    cursor: pointer;
}

.-m-autocom-list-show, .-m-autocom-selected-list-show {
    display: block;
}

/* AUTOCOMPLETE LI ITEMS WITH HOVER COLORS */
.m-autocom-selected-list li:hover {
    background-color: #f1f1f1;
}

.-m-autocom-primary ~ .m-autocom-list li:hover, 
.-m-autocom-primary ~ .m-autocom-selected-list li {
    color: #fff;
    background: #3bafda;
}

.-m-autocom-secondary ~ .m-autocom-list li:hover, 
.-m-autocom-secondary ~ .m-autocom-selected-list li {
    color: #fff;
    background: #6c757d;
}

.-m-autocom-success ~ .m-autocom-list li:hover,
.-m-autocom-success ~ .m-autocom-selected-list li {
    color: #fff;
    background: #78c350;
}

.-m-autocom-danger ~ .m-autocom-list li:hover, 
.-m-autocom-danger ~ .m-autocom-selected-list li {
    color: #fff;
    background: #f1556c;
}

.-m-autocom-warning ~ .m-autocom-list li:hover, 
.-m-autocom-warning ~ .m-autocom-selected-list li {
    color: #fff;
    background: #f7b84b;
}

.-m-autocom-info ~ .m-autocom-list li:hover, 
.-m-autocom-info ~ .m-autocom-selected-list li {
    color: #fff;
    background: #37cde6;
}

.-m-autocom-dark ~ .m-autocom-list li:hover, 
.-m-autocom-dark ~ .m-autocom-selected-list li {
    color: #fff;
    background: #323a46;
}

.-m-autocom-pink ~ .m-autocom-list li:hover, 
.-m-autocom-pink ~ .m-autocom-selected-list li {
    color: #fff;
    background: #f06292;
}

.-m-autocom-lilac ~ .m-autocom-list li:hover, 
.-m-autocom-lilac ~ .m-autocom-selected-list li {
    color: #fff;
    background: #526dee;
}

.-m-autocom-purple ~ .m-autocom-list li:hover,
.-m-autocom-purple ~ .m-autocom-list li.selected {
    color: #fff;
    background: #6559cc;
}

.-m-autocom-blue-darken ~ .m-autocom-list li:hover, 
.-m-autocom-blue-darken ~ .m-autocom-selected-list li {
    color: #fff;
    background: #0D47A1;
}

.-m-autocom-orange ~ .m-autocom-list li:hover, 
.-m-autocom-orange ~ .m-autocom-selected-list li {
    color: #fff;
    background: #ff6f00;
}

/* AUTOCOMPLETE SELECTED COLOR */
/*DEFAULT COLOR*/
.-m-autocom-selected-show 
.m-autocom-selected--counter {
    border: .125rem solid #555555;
    background: #555555;
}

.-m-autocom-selected-show .m-autocom-selected--counter:before {
    content: '+';
    display: inline-block;
    margin-right: .1875rem;
    font-weight: bold;
}

.-m-autocom-selected-show .m-autocom-selected--counter:after {
    content: '';
    border: solid #fff;
    border-width: 0 .125rem .125rem 0;
    display: inline-block;
    padding: .125rem;
    margin-left: .25rem;
    margin-bottom: .125rem;
    transform: rotate(45deg);
}

[data-bg-selected='primary'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #3bafda;
    background: #3bafda;
}

[data-bg-selected='secondary'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #6c757d;
    background: #6c757d;
}

[data-bg-selected='success'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #1abc9c;
    background: #1abc9c;
}

[data-bg-selected='danger'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #f1556c;
    background: #f1556c;
}

[data-bg-selected='warning'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #f7b84b;
    background: #f7b84b;
}

[data-bg-selected='info'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #37cde6;
    background: #37cde6;
}

[data-bg-selected='dark'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #323a46;
    background: #323a46;
}

[data-bg-selected='pink'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #f06292;
    background: #f06292;
}

[data-bg-selected='lilac'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #526dee;
    background: #526dee;
}

[data-bg-selected='purple'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #6559cc;
    background: #6559cc;
}

[data-bg-selected='blue-darken'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #0D47A1;
    background: #0D47A1;
}

[data-bg-selected='orange'] ~ .-m-autocom-selected-show .m-autocom-selected--counter {
    border: .125rem solid #ff6f00;
    background: #ff6f00;
}